<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.realizeitstudio.deteclife">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".TimeManagementApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MainService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.JobSchedulerServiceDailyDataVersionGeneration"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".service.JobSchedulerServiceDailySummary"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".service.JobSchedulerService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".service.JobSchedulerServiceComplete"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".PowerButtonReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="90000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- <intent-filter android:priority="90000">   -->
        <!-- <action android:name="android.intent.action.USER_PRESENT" />   -->
        <!-- </intent-filter> -->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="30d3e041d2234a0f4a4bc6a72998e6d5b3992f44" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>